*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(22, 26, 26);
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    height: 6%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
   text-decoration: none;
   color:#fff;
   text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e60dd0;
    position: absolute;
    left: 0;
    bottom:-5px;
    transition: 0.5s;
}

.navbar a.active{
    color: #e60dd0;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #f2f2f2;
}

.content .heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    margin-top: 50px;
    font-size: 40px;
    color:azure;
    position: relative;
}

.heading h1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #e60dd0;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s;
}

.about-image:hover img{
    transform: scale(1.2);
}

.about-content{
    align-items: left;
    flex: 1;
}

.about-content h2{
    left: 20px;
    font-size: 28px;
    margin-bottom: 15px;
    color:azure;
}

.about-content p{
    font-size: 20px;
    line-height: 1.5;
    text-indent: 10%;
    text-align: justify;
    text-justify: inter-word;
    color:azure;
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #e60dd0;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s;
}

.about-content .read-more:hover{
    transform: scale(1.2);
}

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#11111192;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}