@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  font-family: sans-serif;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #222d32;
}

.holder {
  background-color: #4c474c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4c474c), to(#141414));
  background-image: linear-gradient(0deg, #4c474c 0%, #141414 100%);
  border-radius: 50px;
}

[data-role="controls"] > button {
  margin: 50px auto;
  outline: none;
  display: block;
  border: none;
  background-color: #D9AFD9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#D9AFD9), to(#97D9E1));
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset, 0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
}

[data-role="controls"] > button:hover {
  background-color: #ee7bee;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7bee), to(#6fe1f5));
  background-image: linear-gradient(0deg, #ee7bee 0%, #6fe1f5 100%);
}

[data-role="controls"] > button[data-recording="true"] {
  background-color: #ff2038;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2038), to(#b30003));
  background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}

[data-role="recordings"] > .row {
  width: auto;
  height: auto;
  padding: 20px;
}

[data-role="recordings"] > .row > audio {
  outline: none;
}

[data-role="recordings"] > .row > a {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  background-color: #0093E9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0093E9), to(#80D0C7));
  background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
  margin-left: 20px;
  cursor: pointer;
}

[data-role="recordings"] > .row > a:hover {
  text-decoration: none;
}

[data-role="recordings"] > .row > a:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0093E9), to(#80D0C7));
  background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
}

.readtext {
  width: 700px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 10px;
  font-size: 18px;
  border: 5px outset black;
  background-color: lightblue;
}

.header .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  color: azure;
  -webkit-animation: blink 5s ease-in-out infinite;
          animation: blink 5s ease-in-out infinite;
}

.header .nav-item {
  padding-right: 15px;
  cursor: pointer;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.header .nav-item:hover {
  text-shadow: 0 0 15px #15f4ee, 0 0 15px #15f4ee, 0 0 15px #15f4ee;
}

@-webkit-keyframes blink {
  15%,
  25%,
  60% {
    text-shadow: none;
    opacity: 0.2;
  }
  0%,
  10%,
  15%,
  20%,
  35%,
  40%,
  70%,
  80%,
  100% {
    text-shadow: 0 0 15px #ff005b, 0 0 15px #ff005b, 0 0 15px #ff005b;
    opacity: 1;
  }
}

@keyframes blink {
  15%,
  25%,
  60% {
    text-shadow: none;
    opacity: 0.2;
  }
  0%,
  10%,
  15%,
  20%,
  35%,
  40%,
  70%,
  80%,
  100% {
    text-shadow: 0 0 15px #ff005b, 0 0 15px #ff005b, 0 0 15px #ff005b;
    opacity: 1;
  }
}
/*# sourceMappingURL=audiostyle.css.map */