*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body{
    background: linear-gradient(315deg,#03a9f4,#ff0058);
}

.navbar{
    width: 100%;
    height: 6%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   color:azure;
   text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e60dd0;
    position: absolute;
    left: 0;
    bottom:-5px;
    transition: 0.5s;
}

.navbar a.active{
    color: #e60dd0;
}

.navbar ul li:hover::after{
    width: 100%;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap:wrap;
}

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#11111192;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: yellow;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .img-box{
    position: relative;
    overflow: hidden;
}

.container .box .img-box img{
    height:300px;
    width: 300px;
    transition: transform 2s;
}

.container .box:hover .img-box img{
    transform: scale(1.1);
}

.container .box .details{
    position: absolute;
    top: 10px;
    left:10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details{
    transform: scaleY(1);
}

.container .box .details .content{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 15px;
    color:#fff;
}

.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: yellow;
    text-align: center;
}

.container .box .details .content a{
    background-color: black;
    color: #fff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}